.container{
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 60px;
}

.content{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.item{
    color: black;
    font-family: 'Futura PT';
    font-size: 14px;
}