.container {
    width: 1400px;
    height: 2036px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 952px;
    height: 1591px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 298px;
    height: 497px;
    justify-content: space-between;
    margin-bottom: 50px;
}

.imageCard {
    width: 298px;
    height: 420px;
}

.cardText {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    font-family: 'Futura PT';
    font-size: 24px;
    line-height: 31.2px;

}

.price {
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0em;
}

.marginButton {
    margin-top: 80px;
}

@media (max-width: 800px) {
    .container {
        max-width: 800px;
        height: 2500px;

    }

    .content {
        max-width: 500px;
        height: 2100px;
    }

    .card {
        max-width: 220px;
        max-height: 377px;
        margin-bottom: 50px;
    }

    .imageCard {
        max-width: 220px;
        max-height: 310px;
    }
}

@media (max-width: 425px) {
    .container {
        max-width: 425px;
        height: 3800px;
    }

    .content {
        max-width: 420px;
        height: 3650px;
        overflow: hidden;
        justify-content: center;
        align-items: center;
    }

    .card {
        max-width: 400px;
        max-height: 474px;
        margin-bottom: 50px;
    }

    .imageCard {
        max-width: 400px;
        max-height: 443px;
    }

    .cardText {
        width: 298px;
        flex-direction: row;
        justify-content: space-between;
        font-size: 16px;
        line-height: 20.8px;
    }
}

@media (max-width: 320px) {
    .container {
        max-width: 320px;
        height: 3400px;
    }

    .content {
        max-width: 300px;
        height: 3200px;
        overflow: hidden;
        justify-content: center;
        align-items: center;
    }

    .card {
        max-width: 300px;
        max-height: 474px;
        margin-bottom: 50px;
    }

    .imageCard {
        max-width: 300px;
        max-height: 443px;
    }

    .cardText {
        width: 300px;
        flex-direction: row;
        justify-content: space-between;
        font-size: 16px;
        line-height: 20.8px;
    }
    .title {     
        font-size: 30px;       
        line-height: 39px;
        margin-bottom: 75px;    
    }
}