.container {
    display: flex;
    width: 1400px;
    
    flex-direction: column;  
    justify-content: space-around;     
    color: #474A51;
    font-family: 'Futura PT';
    align-items: center;
}
.content{
    display: flex;
    flex-direction: column;
    width: 1280px;    
}

.subTitle {
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.text {
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    margin-bottom: 10px;
}
.textUpp{
    text-transform: uppercase;
    margin-top: 50px;
}


@media (max-width: 1280px) {
    .container {
        max-width: 1280px;
    }
    .content{
        width: 1210px; 
    }
}

@media (max-width: 1152px) {
    .container {
        max-width: 1152px;
    }
    .content{
        width: 1082px; 
    }
}


@media (max-width: 1024px) {
    .container {
        max-width: 1024px;
    }
    .content{
        width: 954px; 
    }
}

@media (max-width: 800px) {
    .container {
        max-width: 800px;
    }
    .content{
        width: 730px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 768px;
    }
    .content{
        width: 698px;
    }
}

@media (max-width: 425px) {
    .container {
        max-width: 425px;
    }
    .content{
        width: 390px;
    }
}

@media (max-width: 320px) {
    .container {
        max-width: 320px;
    }
    .content{
        width: 300px;
    }
}