.container{
    width: 1440px;
    max-height: 4693px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titlePage{
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 2%;
    color: #474A51;
}
.cards{
    display: flex;
    justify-content: space-between;
    width: 1280px;
    flex-wrap: wrap;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 677px;
    justify-content: space-between;
    margin-bottom: 80px;
}
.cardText{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}
.imageCard{
    width: 407px;
    height: 600px;
}
.alignButton{
    margin: auto;
}

@media (max-width: 1280px) {
	.container {
		max-width: 1280px;
        max-height: 5000px;		
	}
    .cards{
        max-width: 1190px;
    }
}
@media (max-width: 1152px) {
	.container {
		max-width: 1152px;
      
	}
    .cards{
        max-width: 1070px;
    }
}

@media (max-width: 1024px) {
	.container {
		max-width: 1024px;
      
	}
    .cards{
        max-width: 1000px;
    }
}

@media (max-width: 800px) {
	.container {
		max-width: 800px;
        max-height: 5000px;		
	}
    .cards{
        max-width: 710px;
    }
    .card{
        max-height: 583px;
    }
    .imageCard{
        max-width: 344px;
        max-height: 506px;
    }
}

@media (max-width: 768px) {
	.container {
		max-width: 768px;
        max-height: 2700px;	
        overflow: hidden;
	}
    .cards{
        max-width: 700px;
    }
}

@media (max-width: 425px) {
	.container {
		max-width: 425px;	
	}
    .cards{
        max-width: 420px;
    }
}