.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1400px;
}
.order {
    display: flex;
    width: 1280px;
    justify-content: space-between;
    margin-top: 80px;
    padding-bottom: 80px;
}
.card{
    display: flex;
}
.productBasket {
    width: 734px;    
    border-top: 1px solid #9F9D9D;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 30px;
}

.description {
    display: flex;
    flex-direction: column;
    font-family: 'Futura PT';
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
}

.fontSize {
    font-size: 24px;
    text-transform: uppercase;
    line-height: 31.2px;
}

.textCharacteristik {
    margin-top: 20px;
}

.characteristic {
    margin-right: 45px;
}



.image {
    width: 188px;
    height: 200px;
    margin-right: 30px;
}

.colorText {
    color: #9F9D9D;
    margin-bottom: 10px;
}

.promo {
    display: flex;
    flex-direction: column;
    width: 438px;
}

.promoTitle {
    font-family: 'Futura PT';
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.inputBlock {
    display: flex;
}

.promokodInput {
    width: 276px;
    height: 51px;
    border: none;
    border-bottom: 1px solid #474A51;
}

.textAgreement {
    width: 260px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
}

.addStylesButton{
    border: none;
    display: flex;
    width: 30px;
    height: 30px;
    padding: 10px;
}

@media (max-width: 1280px) {
    .container {
        max-width: 1280px;
    }
    .order {
        max-width: 1048px;
        
    }
    .productBasket {
        max-width: 650px;
        margin-right: 20px;
        
    }
}

@media (max-width: 1152px) {
    .container {
        max-width: 1152px;
    }
    .order {
        max-width: 1082px;
        
    }
}

@media (max-width: 1024px) {
    .container {
        max-width: 1024px;
    }
    .order {
        max-width: 968px;
        
    }
}

@media (max-width: 800px) {
    .container {
        max-width: 800px;
    }
    .order {
        max-width: 710px;
        flex-direction: column;
    }
    .sectionPromo{
        display: flex;
        flex-flow: row-reverse;
  
    }
    .promo{
        width: 344px;
        margin-right: 10px;
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 768px;
    }
    .order {
        max-width: 698px;
        
    }
}

@media (max-width: 425px) {
    .container {
        max-width: 425px;
    }
    .order {
        max-width: 355px;
        align-items: center;
        
    }
    .productBasket {
        max-width: 240px;
        flex-direction: column;
    }
    .sectionPromo{
        flex-direction: column;
    }
    .promo{
        max-width: 250px;
        margin-top: 20px;
     
    }
     
    .promokodInput{
        max-width: 100px;
    }
}

@media (max-width: 320px) {
    .container {
        max-width: 320px;
    }
    .order {
        max-width: 300px;
        
    }
    .productBasket {
        max-width: 250p;
    }

}