.container {
    height: 960px;
    width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    width: 1280px;
}

.deliveryBox {
    display: flex;
    flex-direction: column;

    font-family: 'Futura PT';
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    margin-bottom: 80px;
    margin-top: 80px;

}

.subTitle {
    font-family: 'Futura PT';
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.labelMargin {
    margin-bottom: 10px;
}

@media (max-width: 800px) {
    .container {
        max-width: 800px;
        height: 1630px;
    }

    .content {
        width: 800px;

        align-items: center;
    }

    .deliveryBox {
        max-width: 730px;
    }
}


@media (max-width: 320px) {
    .container {
        max-width: 300px;
        height: 1500px;
    }

    .content {
        width: 320px;
        align-items: center;
    }

    .deliveryBox {
        max-width: 300px;
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 50px;
        margin-top: 30px;
    }

    .subTitle {
        font-size: 20px;
        line-height: 26px;
    }
    .labelMargin {
        width: 12px;
        height: 12px;
    }
}