.container {
    width: 1400px;
    display: flex;
    padding-left: 60px;
    flex-wrap: wrap;
}

.text {
    display: flex;
    flex-direction: column;
    margin-top: 110px;
    height: 687px;
    font-family: 'Futura PT';
    font-size: 16px;
    line-height: 20.8px;
}

.margin {
    margin-bottom: 50px;
}

.cardOveralls {
    width: 685px;
    height: 776px;
    margin-left: 248px;
    display: flex;
    flex-direction: column;
}

.imageOveralls {
    width: 685px;
    height: 740px;
    margin-bottom: 15px;
}

.textCloth {
    font-family: 'Futura PT';
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    width: 250px;
    margin-top: 15px;
}

.cardClassic_shirt {
    display: flex;
    flex-direction: column;
    width: 298px;
    height: 511px;
}

.shirtRed{
    display: flex;
    flex-direction: column;
    width: 516px;
    height: 831px;
    margin-left: 278px;
    margin-top: 101px;
}

.content{
    display: flex;
    width: 1400px;
    justify-content: space-between;
    margin-top: 80px;
    flex-wrap: wrap;
}

.overallsBlack{
    width: 410;
    height: 656px;
    display: flex;
    flex-direction: column;
}

.shirt_{
    width: 625px;
    height: 474px;
    display: flex;
    flex-direction: column;
    margin-right: 60px;

}

.cardMargin{
margin: -38px 496px 80px 606px;    
}

@media (max-width: 1280px) {
	.container {
		max-width: 1280px;
        padding-left: 30px;
    }
    .cardOveralls {
        max-width: 626px;
        margin-left: 226px;
    }
    
    .imageOveralls {
        max-width: 626px;
    }
    .content{
        width: 1280px; 
    }
}

@media (max-width: 1152px) {
	.container {
		max-width: 1152px;
    }
    .cardOveralls {
        max-width: 563px;
        margin-left: 190px;
    }
    
    .imageOveralls {
        max-width: 563px;
    }
    .content{
        width: 1152px; 
    }
}


@media (max-width: 1024px) {
	.container {
		max-width: 1024px;
    }
    .cardOveralls {
        max-width: 450px;
        max-height: 500px;
        margin-left: 150px;
    }
    
    .imageOveralls {
        max-width: 450px;
    }
    .content{
        width: 1024px; 
    }
    .shirt_{
        max-width: 400px;
        
    }
}

@media (max-width: 800px) {
	.container {
		max-width: 800px;
        padding-left: 30px;
        justify-content: center;
	}
    .text {
        margin-top: 80px;
    }
    .margin {
        margin-bottom: 30px;
    }

    .cardOveralls {
        max-width: 343px;
        max-height: 553px;
        margin-left: 10px;
    }
    
    .imageOveralls {
        max-width: 343px;
        height: 517px;
    }
    .shirtRed{
        width: 489px;
        margin-left: 176px;
        margin-top: 50px;
    }
    
    .content{
        width: 800px;        
    }
    .overallsBlack{
        width: 417px;
    }
    .shirt_{
        width: 344px;
        height: 286px;
        margin-top: 50px;
        margin-right: 60px;
    }
    .cardMargin{
        margin: -290px 30px 80px 447px;    
        }
}

@media (max-width: 768px) {
	.container {
		max-width: 768px;
    }
    .cardOveralls {
        max-width: 330px;
    }
    
    .imageOveralls {
        max-width: 330px;
    }
    .content{
        width: 768px; 
    }
}

@media (max-width: 425px) {
	.container {
		max-width: 425px;
        padding-left: 0px;
        flex-direction: column;
        align-items: center;
	}
    .text {
        margin-top: 50px;
        align-items: center;
    }
    .margin {
        margin-bottom: 50px;
    }

    .cardOveralls {
        max-width: 400px;
        max-height: 455px;
        margin-left: 0px;
    }
    
    .imageOveralls {
        max-width: 400px;
    }
    .shirtRed{
        width: 400px;
        max-height: 602px;
        margin-left: 0px;
        margin-top: 50px;
    }
    
    .content{
        width: 400px; 
        max-height: 900px;
        justify-content: center; 
        align-items: center;
    }
    .overallsBlack{
        max-width: 400px;
        margin-bottom: 0px;
    }
    .shirt_{
        max-width: 400px;
        max-height: 286px;
        margin-top: 0px;
        margin-right: 0px;
    }
    .cardMargin{
        margin: 50px 0px 80px 0px;    
        }
}

@media (max-width: 375px) {
	.container {
		max-width: 375px;
	}
    .text{
        max-width: 355px;
    }

    .cardOveralls {
        max-width: 355px;
        max-height: 375px;
    }
    
    .imageOveralls {
        max-width: 355px;
        height: 364px;
    }
    .shirtRed{
        width: 355px;
        max-height: 532px;
    }
    
    .content{
        width: 355px; 
        max-height: 950px;
    }
    .overallsBlack{
        max-width: 355px;
    }
    .shirt_{
        max-width: 355px;
        max-height: 306px;
    }
}

@media (max-width: 320px) {
	.container {
		max-width: 320px;
	}

    .cardOveralls {
        max-width: 300px;
        max-height: 355px;
    }
    
    .imageOveralls {
        max-width: 300px;
        height: 324px;
    }
    .shirtRed{
        width: 300px;
        max-height: 502px;
    }
    
    .content{
        width: 300px; 
        max-height: 500px;
    }
    .overallsBlack{
        max-width: 300px;
    }
    .shirt_{
        max-width: 300px;
        max-height: 286px;
    }
}