.container {
    width: 1400px;
    height: 700px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #EEEEEE;
    margin-top: 160px;
}

.image {
    width: 715px;
    height: 700px;
}
.content{
    width: 407px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.title{
    font-family: Lovelace;
    font-weight: 400;
    font-size: 52px;
    line-height: 68px;
    color: #474A51;
}
.text{
    font-family: 'Futura PT';
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #474A51;
}

@media (max-width: 800px) {
	.container {
		max-width: 800px;
        max-height: 586px;
        margin-bottom: 10px;
	}
    .image {
        max-width: 384px;
        max-height: 554px;
    }
    .content{
        width: 291px;
    }
    
}