.container {
    width: 1400px;
    display: flex;
    flex-direction: column;
    font-family: 'Futura PT';
    color: #474A51;
    align-items: center;
}

.content {
    width: 1280px;
    height: 560px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-family: 'Lovelace';
    font-size: 52px;
    font-weight: 400;
    line-height: 68px;
    letter-spacing: 0em;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
}

.text{
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0.02em;
    text-align: center;
}
.textMargin{
    margin-bottom: 20px;
}
.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}

@media (max-width: 1280px) {
    .container {
        max-width: 1280px;
    }
    .content {
        max-width: 1220px;
    }
}

@media (max-width: 1152px) {
    .container {
        max-width: 1152px;
    }
    .content {
        max-width: 1092px;
    }
}

@media (max-width: 1024px) {
    .container {
        max-width: 1024px;
    }
    .content {
        max-width: 964px;
    }
}




@media (max-width: 800px) {
    .container {
        max-width: 800px;
    }
    .content {
        max-width: 740px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 768px;
    }
    .content {
        max-width: 708px;
    }
}

@media (max-width: 425px) {
    .container {
        max-width: 425px;
    }
    .content {
        max-width: 365px;
    }
}

@media (max-width: 320px) {
    .container {
        max-width: 320px;
    }
    .content {
        max-width: 300px;
    }
    .title {
        font-size: 30px;
        line-height: 39px;
    }
    .text{
        font-size: 16px;
        line-height: 20px;
        text-align: left;
    }
}